@import '_variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	&:focus {
		outline: none;
	}
}

body {
	background-color: $main_color;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.title {
	margin: 30px 0 70px 0;
	font-size: 66px;
	font-weight: 700;
	user-select: none;
	&_text {
		display: inline-block;
		margin-right: 25px;
	}
	&_highlight {
		display: inline-block;
		color: $additional_color;
	}
}

select, input {
	padding: 5px;
	border-radius: 10px;
	height: 40px;
	width: 110px;
	background: $additional_color;
	border: none;
	transition: 1s all;
	cursor: pointer;
}

.place {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
	width: 900px;
	color: $additional_color;
	&_title {
		margin-right: 5px;
	}
	#town {
		width: 200px;
	}
}

.date_and_time {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
	width: 900px;
	color:$additional_color;
	&_title {
		margin-right: 5px;
	}
	#date {
		width: 200px;
	}
	#time {
		width: 335px;
	}
	.active_time {
		pointer-events: all;
	}
	.non-ative_time {
		pointer-events: none;
		color: #c2c2c2;
	}
}

.comment {
	color: $additional_color;
	margin-bottom: 40px;
	&_title {
		margin-bottom: 10px;
	}
	#comment_text {
		padding: 10px;
		border-radius: 10px;
		width: 565px;
		height: 150px;
		border: none;
		resize: none;
	}
}

.buttons {
	position: relative;
	display: flex;
	align-items: end;
	height: 130px;
	#submit {
		width: 200px;
		height: 80px;
		border-radius: 10px; 
		font-size: 25px;
		font-weight: 700;
		border: 1px solid $accent_color;
		user-select: none;
		transition: 3s all;
	}
	.active_btn {
		background: $accent_color;
		color: $additional_color;
		&:hover {
			color:$main_color;
		}
	}
	.non-active_btn {
		background: $main_color;
		color: $accent_color;
	}
	#clean {
		width: 100px;
		height: 50px;
		border-radius: 10px;
		margin-left: 20px;
		font-weight: 700;
		border: 1px solid $additional_color;
		background: $additional_color;
		color: $accent_color;
		user-select: none;
		transition: 2s all;
		&:hover {
			color: $additional_color;
			background: $main_color;
		}
	}
}

.alert {
	position: absolute;
	top: 0;
	font-size: 14px;
	color: $accent_color;
	font-weight: 400;
}

.invisible {
	display: none;
}

@import '_media';